.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.card {
  margin: 0 2% !important;
  border-radius: 10%;
}

.infected {
  border-left: 20px solid #03a9f4;
}

.recovered{
  border-left: 20px solid #8bc34a;
}

.deaths{
  border-left: 20px solid #f44336;
}

@media only screen and (max-width: 770px) {
  .card {
    margin: 2% 0 !important;
  }
}